<div class="top-image">
  <%= image_tag "mariasyu-top-0acb78d13fcfd7543f9f3b74aee8fcc9b824668dd1ea2c160bcfea4e53871de4.jpg" %>
  <div class='top-logo'>
    <%= image_tag "mariasyu-logo-94f1e2b9674a0f9bde79de28c025930803fa5a5000d6fd2cbf83f6f62d53e6cd.png", class:"logo-image" %>
  </div>
</div>

<div class="mariage-mean">
  <%= image_tag "edamame.jpg", class:"mean-image-ge" %>
  <div class="top-text-ge">
    【Mariage】  マリアージュ<br/>
    <br/>
    "お酒と料理の相性が良く<br/>
    お互いを引き立て合っている"<br/>
    <br/>
    という意味で使われる。<br/>
  </div>
</div>

<div class="mariage-mean">
  <div class="top-text-syu">
    【Maria<span class="color-change">S</span>yu】 マリアー<span class="color-change">シュ</span><br/>
    <br/>
    "組み合わせ（マリアージュ）を<br/>
    知りたい方や薦めたい方などが<br/>
    投稿・検索できるアプリ”<br/>
  </div>
  <%= image_tag "sushi.jpg", class:"mean-image-syu" %>
</div>

<div class='mariage-contents'>
  <div class="subtitle" >
    新着投稿一覧
    <p class="limit">(最新3件のみ表示)</p>
  </div>
  <ul class='mariage-lists'>

    <% @mariages.each do |mariage| %>
      <li class='list'>
        <%= link_to mariage_path(mariage.id), method: :get do %>
        <div class='mariage-img-content'>
          <% mariage.images.each do |image| %>
            <%= image_tag mariage.images[0], class:'images' %>
            <% break %>
          <% end %>
        </div>
        <div class='mariage-info'>
          <h3 class='mariage-name'>
            <%= mariage.title %>
          </h3>
        </div>
        <% end %>
      </li>
    <% end %>
  </ul>
  <div class="section">
    <%= link_to "もっと見る",searches_index_path, class: :link_btn %>
  </div>
</div>
