<%= render "shared/second-footer"%>

  <%= form_with model: @mariage, class: 'registration-main', local: true do |f|%>

  <div class="form-wrap">
    <div class='form-header'>
      <h2 class="form-header-text">新規マリアージュ投稿</h2>
    </div>

  <%= render 'shared/error_messages', model: f.object %> 

    <div class="form-group">
      <div class='form-text-wrap'>
          <%= f.label :title, "タイトル（必須）", class:"form-text" %><br />
          <%= f.text_field :title, class:"input-default-title", placeholder:"例) 越乃景虎 × 栃尾揚げの納豆挟み焼き" %>
      </div>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
          <%= f.label :text, "説明文（必須）", class:"form-text" %><br />
          <%= f.text_area :text, class:"input-default-text", placeholder:"例)スッキリとした飲み口のお酒と
ジューシーな油揚げは相性ばっちりです。
お酒は冷やしても温めてもおいしいです♪

お酒：越乃景虎　超辛口本醸造
料理：栃尾揚げの納豆挟み焼き" %>
      </div>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
          <%= f.label :category_id, "料理のカテゴリー（必須）", class:"form-text" %><br />
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"mariage-category"}) %>
    </div>
    </div>


    <div class="form-group">
      <div class='form-text-wrap'>
          <%= f.label :taste_id, "お酒のテイスト（必須）", class:"form-text" %><br />
          <%= f.collection_select(:taste_id, Taste.all, :id, :name, {}, {class:"select-box", id:"mariage-taste"}) %> 
    </div>
    </div>


    <div class="form-group">
      <div class='form-text-wrap'>
          <%= f.label :image, "マリアージュの写真（必須）", class:"form-text" %>
          <%= f.file_field :image, id:"mariage_image", class:"select-box" %>
      </div>
    </div>
  <%= f.submit "投稿する", class: "form-btn"  %>
  <% end %>
  </div>

<%= render "shared/second-footer"%>