<div class="show-main">
  <div class="mariage-wrap">
    <p class="mariage__hedding">
      <%= @mariage.title %>
    </p>

    <% if user_signed_in? && current_user.id == @mariage.user_id %>
      <div class="mariage__manage">
        <%= link_to "編集する", edit_mariage_path(@mariage.id), class: :mariage__btn %>
        <%= link_to "削除する", mariage_path(@mariage.id), class: :mariage__btn, method: :delete %>
      </div>
    <% end %>
    <div class="mariage__image">
      <%= image_tag @mariage.image %>
    </div>
    <div class="mariage_time">
      <%= l @mariage.created_at %>
    </div>
    <div class="mariage__detail">
      <p class="detail__title">投稿者</p>
      <%= link_to @mariage.user.nickname, "/users/#{@mariage.user.id}", class:"mariage-user" %>
      <p class="detail__title">マリアージュの説明</p>
      <%= @mariage.text %>
      <p class="detail__title">料理のカテゴリー</p>
      <%= @mariage.category.name %>
      <p class="detail__title">お酒のテイスト</p>
      <%= @mariage.taste.name %>
    </div>
  </div>
  <div class="comment-wrap">
    <div class="mariage__comments">
        <% if user_signed_in? %>
          <%= form_with model: [@mariage, @comment], local: true do |f| %>
            <div class="field">
              <%# <%= f.label :text, "コメントフォーム", class: :comment_title %> <br> 
              <%= f.text_field :text, placeholder: " コメントを入力する", size: "60", class: :comment_field %>
              <%= f.submit "コメント送信", class: :comment__btn %>
            </div>
          <% end %> 
      <% else %>
        <div class="field">
          <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
        </div>
      <% end %> 
      <ul id="comments", class="comments_lists">
          <% @comments.each do |comment|%>
            <div class='comment-display'>
              <div class='comment-top'>
                <p>
                <li class="comments_list">
                  <p><%= link_to comment.user.nickname, "/users/#{@mariage.user.id}", class: :comment_user %>
                    <span class="comment_time"><%= l comment.created_at %></span>
                  </p>
                  <div class='comment-bottom'>
                    <%= comment.text %>
                  </div>
                </li>
                </p>
              </div>
            </div>
          <% end %> 
      </ul>
    </div>
  </div>
</div>