    <div class="mariage-wrap">
      <p class="mariage__hedding">
        <%= @mariage.title %>
      </p>
      <%# <%= link_to @mariage.user.name, "/users/#{@mariage.user.id}", class: :mariage__user %> 
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? && current_user.id == @mariage.user_id %>
        <div class="mariage__manage">
          <%= link_to "編集する", edit_mariage_path(@mariage.id), class: :mariage__btn %>
          <%= link_to "削除する", mariage_path(@mariage.id), class: :mariage__btn, method: :delete %>
        </div>
      <% end %>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <div class="mariage__image">
        <%= image_tag @mariage.image %>
      </div>
      <%# <div class="prototype__body"> %>
        <div class="mariage__detail">
          <%# <p class="detail__title"></p> %>
          <%# <p class="detail__message"> %>
          <p>
            <%= @mariage.text %>
          </p>
        </div>
      <%# </div> %>
      <div class="mariage__comments">

        <%# <% if user_signed_in? %>
          <%# <%= form_with model: [@mariage, @comment], local: true do |f| %>
            <%# <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%# <%= f.text_field :text, id:"comment_text" %>
            <%# </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            <%# </div>
          <% end %> 
        <%# <% end %> 
        
        <%# // ログインしているユーザーには上記を表示する %>
        <%# <ul class="comments_lists"> %>
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
            <%# <li class="comments_list">
              <% @comments.each do |comment|%>
                <%# <p>
                  <%= link_to comment.user.name, "/users/#{comment.user_id}", class: :comment_user %>
                  <%# <%= comment.text %>
                <%# </p>
              <% end %> 
            </li>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>
      </div>
    </div>