<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MariaSyu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <%= link_to "MariaSyu", root_path, class: :logo %>
          
          <div class="menu">
            <% if user_signed_in? %>
              <span class="nav__right">
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: :btn %>
                <%= link_to "New Mariage", new_mariage_path, class: :btn %>
                <%= link_to "My Mariage", "/users/#{current_user.id}" , class: :btn%>
              </span>
            <% else %>
              <span class="nav__right">
                <%= link_to "Login", new_user_session_path, class: :btn %>
                <%= link_to "新規登録", new_user_registration_path, class: :btn %>
              </span>
            <% end %>

            <span class="search-menu">
              <label for="menu_bar01", class="btn">Search Mariage</label>
              <input type="checkbox" id="menu_bar01" class="checkbox"/>
              <ul id="links01">
                <li class="pull-down"></li>
                <li class="pull-down-list"><%= link_to "- 一覧で全て見る -", searches_index_path, method: :get %></li>
                <li class="pull-down"></li>
                <li class="pull-down">  - キーワード検索 -</li>
                <li hidden class="pull-down-word">
                  <li hidden><%= form_with(url: search_mariages_path, local: true, method: :get) do |form| %></li>
                    <li><%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input", required: true %></li>
                    <li><%= form.submit "検索", class: "search-btn" %></li>
                  <li hidden><% end %></li>
                </li>
                <li class="pull-down"></li>
                <li class="pull-down">  - カテゴリ検索 -</li>
                <li hidden class="pull-down-category">
                  <li hidden><%= search_form_for @p, url: searches_search_path, class:"search-form-category" do |f| %></li>
                    <li><%= f.collection_select :category_id_eq, @category, :id, :name, include_blank:'--', class:"search-input", id:"mariage-category" %></li>
                    <li><%= f.collection_select :taste_id_eq, @taste, :id, :name, include_blank:'--', class:"search-cayegory", id:"mariage-taste" %></li>
                    
                    <li><%= f.submit '検索', class: "search-btn" %></li>
                  <li hidden><% end %></li>
                </li>
                <li class="pull-down"></li>
              </ul>
            </span>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © MARIASYU All rights reserved.</p>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  </body>
</html>
