<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MariaSyu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to "MariaSyu", root_path, class: :logo %>
          </div>


          <div class="menu">
            <% if user_signed_in? %>
              <span class="nav__right">
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: :btn %>
                <%= link_to "New Mariage", new_mariage_path, class: :btn %>
                <%= link_to "My Page",  "/users/#{current_user.id}" , class: :btn%>
              </span>
            <% else %>
              <span class="nav__right">
                <%= link_to "Login", new_user_session_path, class: :btn %>
                <%= link_to "新規登録", new_user_registration_path, class: :btn %>
              </span>
            <% end %>



            <span class="search-menu">
              <label for="menu_bar01", class="btn">Search Mariage</label>
              <input type="checkbox" id="menu_bar01" />
              <ul class="list-width", id="links01">
                <li class="pull-down"></li>
                <li class="pull-down">  - 料理のタイプから検索 -</li>
                <li class="pull-down-list"><a href="">和食</a></li>
                <li class="pull-down-list"><a href="">洋食</a></li>
                <li class="pull-down-list"><a href="">中華</a></li>
                <li class="pull-down-list"><a href="">その他</a></li>
                <li class="pull-down"></li>
                <li class="pull-down">  - お酒のタイプから検索 -</li>
                <li class="pull-down-list"><a href="">香りも楽しめるタイプ</a></li>
                <li class="pull-down-list"><a href="">熟成された深い味わい</a></li>
                <li class="pull-down-list"><a href="">軽くてスッキリとした飲み口</a></li>
                <li class="pull-down-list"><a href="">コクのあるふくよかな味わい</a></li>
                <li class="pull-down-list"><a href="">その他</a></li>
                <li class="pull-down"></li>
              </ul>
            </span>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © MARIASYU All rights reserved.</p>
    </footer>
  </body>
</html>
